body {
  background-color: #282828;
  color: #c0c0c0;
}

nav {
  box-shadow: 0 0 12px -2px black;
  position: fixed;
  left: 0;
  right: 0;
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 80px;
}

.active {
  border-bottom: 1px solid #c0c0c0;
}

a {
  color: #c0c0c0;
  text-decoration: none;
  font-size: x-large;
  margin: 0 5px;
}